<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bappon Namosudra - Full Stack Developer</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <app-header></app-header>

    <div class="home">
        <main>
            <section class="hero">
                <div class="hero-text">
                    <h1>Hi 👋, <br> I'm Bappon Namosudra <br>– A Passionate Full Stack Developer</h1>
                    <p>Crafting modern, responsive, and user-friendly web experiences with the latest technologies.</p>

                    <a href="contact" class="btn">Hire Me</a>
                    <a href="https://drive.google.com/file/d/1auwmqH1PeHzqb9xfrkvvAmTnpd8GsouW/view?usp=drive_link" class="btn btn-secondary" target="_blank">
                        Download CV
                    </a>
                </div>

                <div class="hero-image">
                    <img src="assets/images/png.png" alt="Profile Image">
                </div>
            </section>
        </main>
    </div>

    <app-about></app-about>
    <app-my-skill></app-my-skill>
    <app-my-projects></app-my-projects>
    <app-contact></app-contact>
    <app-footer></app-footer>

</body>
</html>
