<div class="about">
    <img src="../../../assets/images/image2.png" alt="about image">
    <div class="about-content">
        <h1>About Me</h1>
        <p>
            I am <strong>{{name}}</strong>, a dedicated and results-driven <strong>{{role}}</strong> with hands-on experience in 
            building responsive and user-friendly web applications. Proficient in <strong>{{ getSkills()}}</strong>, 
            I specialize in developing scalable solutions that enhance user experiences while ensuring seamless functionality and performance. <br>

            With expertise in <strong>MEAN stack development</strong>, I have successfully worked on a variety of projects, including 
            <strong>{{projects}}</strong>. 
            I have a strong passion for creating efficient and robust applications that solve real-world problems. <br>
        
            My ability to design and implement seamless front-end and back-end solutions allows me to deliver high-quality applications efficiently. 
            I believe in writing clean, maintainable code and following best practices to ensure scalability and security. 
            I am constantly learning and exploring new technologies to enhance my development skills and stay ahead in this fast-evolving industry. <br>
       
            Beyond coding, I enjoy collaborating with teams, mentoring junior developers, and contributing to open-source projects. 
            I am always excited to take on new challenges, innovate, and bring creative ideas to life through technology. 
            If you're looking for a passionate developer who can turn ideas into reality, let's connect and build something amazing together!
        </p>
        
    </div>
</div>
